@model Request

<h3>@Model.RequestID Information</h3>

<table class="table">
    <tr>
        <th>Request ID</th>
        <th>Request description</th>
        <th>Request status</th>
  
    </tr>
    <tr>
        <td>@Model.RequestID</td>
        <td>@Model.RequestDESC</td>
        <td>@Model.RequestSTATUS</td>
    </tr>


</table>



<div style="display: block">
    <a href="/Request/UpdateRequest/@Model.RequestID">Update this maintenance request</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteRequest", "Request", "Post"))
    {
        <input type="hidden" asp-for="RequestID" value="@Model.RequestID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this request" />
    }
</div